<div class="content">
    <!-- Muestra el loading-spinner si loading: true -->
    <app-loading-spinner [loading]="loading()"></app-loading-spinner>

    <app-title-h1 [title]="title"></app-title-h1>

    <div class="filter-container mb-3">
        <h2>Filtrar Jugadores</h2>

        <form (submit)="applyFilters($event)">
            <div class="row g-3">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="filter.longName"
                        name="longName" />
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="Edad" [(ngModel)]="filter.age" name="age" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Club" [(ngModel)]="filter.club" name="club" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Nacionalidad" [(ngModel)]="filter.nationality"
                        name="nationality" />
                </div>
            </div>

            <div class="d-flex justify-content-start mt-3 gap-3">
                <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
                <button (click)="exportToCSV()" class="btn btn-secondary">Descargar CSV</button>
            </div>
        </form>
    </div>

    <!-- Muestra el loading-error si error: true -->
    <app-loading-error [error]="error()"></app-loading-error>

    <!-- Listado de jugadores -->
    <div class="players-list">
        @if (!loading() && error() === null) {
            @for (player of players(); track player.id) {
                <div class="card">
                    <app-card-player [id]="player.id" [playerFaceUrl]="player.playerFaceUrl!" [longName]="player.longName"
                    [age]="player.age" [nationalityName]="player.nationalityName" [overall]="player.overall"
                    [clubName]="player.clubName"></app-card-player>
                </div>
            }
        }
    </div>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if(page > 1) {
                <li class="page-item"><a class="page-link" (click)="loadPlayers(page - 1)">Anterior</a></li>
                <li class="page-item"><a class="page-link" (click)="loadPlayers(page - 1)">{{ page - 1 }}</a></li>
            }
            <li class="page-item"><a class="page-link" (click)="loadPlayers(page)">{{ page }}</a></li>
            <li class="page-item"><a class="page-link" (click)="loadPlayers(page + 1)">{{ page + 1 }}</a></li>
            <li class="page-item"><a class="page-link" (click)="loadPlayers(page + 1)">Siguiente</a></li>
        </ul>
    </nav>
</div>
