<div class="card-player" (click)="navigateToPlayer(id)">
  <img src="{{playerFaceUrl}}" class="card-img-top" alt="Imagen de {{longName}}">
  <div class="card-body">
    <h5 class="card-title">{{longName}}</h5>
    <p class="card-text nationality">{{nationalityName}}</p>
  </div>
  <ul class="list-group">
    <li>
      <div class="list-item-content">
        <span>Age:</span> <p>{{age}}</p>
        <span>Nivel:</span> <p>{{overall}}</p>
      </div>
    </li>
    <li>
      <div class="list-item-content center">
        <span>Club:</span> <p>{{clubName}}</p>
      </div>
    </li>
  </ul>
</div>
