  .container {
    max-width: 600px;
  }

  .player-card {
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
  }


  
  .player-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .player-atribute {
    font-weight: bold;
  }

  #skillsRadarChart {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #333;
    margin-bottom: 8px;
  }
  
  button {
    font-size: 1rem;
    width: 45%;
    max-width: 200px;
    margin: 5px 0;
  }
  