  <div class="container">
    <form>
      <div class="form-group">
        <span>Puedes descargar los jugadores en base de datos e importarlos en tu partida de FIFA o compartirla con amigos!</span>
        <button (click)="exportDatabase($event)" class="btn btn-primary">
            Descargar
          </button>
      </div>
    
      <!-- Mensaje de error -->
      @if(errorMessage){
        <div class="text-danger mt-2">{{ errorMessage }}</div>
      }
    
      <!-- Mensaje de éxito -->
      @if(successMessage) {
        <div class="text-success mt-2">{{ successMessage }}</div>
      }
    </form>
  </div>
  