<div class="title-container">
  <app-title-h1 [title]="title"></app-title-h1>
</div>

<div class="container d-flex flex-column align-items-center">
  <form>
    <div class="form-group">
      <span>Puedes descargar los jugadores en base de datos e importarlos en tu partida de FIFA o compartirla con amigos!</span>
      <button (click)="exportDatabase($event)" class="btn btn-primary">Descargar</button>
    </div>
    
    @if(errorMessage){
      <div class="text-danger mt-2">{{ errorMessage }}</div>
    }

    @if(successMessage) {
      <div class="text-success mt-2">{{ successMessage }}</div>
    }
  </form>
</div>
