  .container {
    width: 60%;
  }

  .player-card {
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
  }

  input {
    margin: 5px;
    padding: 6px 9px;
    border: none;
    border-top: 1px solid black;
    border-radius: 5px;
    background: whitesmoke;
}
  
  .player-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .player-atribute {
    font-weight: 400;
  }

  #skillsRadarChart {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .card-text {
    color: #333;
    font-weight: 100;
    margin-bottom: 8px;

  }

  .obligatorios {
    color: #f00
  }
  
  button {
    font-size: 1rem;
    width: 45%;
    max-width: 200px;
    margin: 5px 0;
  }
  