<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-divider></mat-divider>
        <div><span>Los campos marcados con (*) son obligatorios</span></div>
        
        <mat-form-field appearance="fill">
            <mat-label>Nombre y apellido: *</mat-label>
            <input matInput formControlName="longName" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Edad: *</mat-label>
            <input matInput type="number" formControlName="age" required />
        </mat-form-field>

        <div formArrayName="playerPositions">
            <h5>Posiciones: *</h5>
            @for(position of playerPositions; track position) {
            <mat-checkbox [value]="position" >
                {{ position }}
            </mat-checkbox>
            }
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Rostro: *</mat-label>
            <mat-select formControlName="playerFaceUrl" required>
                @for(face of playerFaceUrl; track face) {
                <mat-option [value]="face">{{ face }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Club:</mat-label>
            <input matInput formControlName="clubName" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nacionalidad:</mat-label>
            <input matInput formControlName="nationalityName" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Pie Preferido:</mat-label>
            <mat-select formControlName="preferredFoot">
                @for(foot of preferredFoot; track foot) {
                <mat-option [value]="foot">{{ foot }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Tipo de cuerpo:</mat-label>
            <mat-select formControlName="bodyType">
                @for(bodyType of bodyType; track bodyType) {
                <mat-option [value]="bodyType">{{ bodyType }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Altura (cm):</mat-label>
            <input matInput type="number" formControlName="heightCm" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Peso (kg):</mat-label>
            <input matInput type="number" formControlName="weightKg" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Potencial: *</mat-label>
            <input matInput type="number" formControlName="potential" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nivel de skill general: *</mat-label>
            <input matInput type="number" formControlName="overall" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>FIFA Update: *</mat-label>
            <mat-select formControlName="fifaUpdate" required>
                @for(fifaUpdate of fifaUpdate; track fifaUpdate) {
                <mat-option [value]="fifaUpdate">{{ fifaUpdate }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>FIFA Version: *</mat-label>
            <mat-select formControlName="fifaVersion" required>
                @for(fifaVersion of fifaVersion; track fifaVersion) {
                <mat-option [value]="fifaVersion">{{ fifaVersion }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary" type="submit">Registrar jugador</button>
            <button mat-button type="button" (click)="resetForm()">Reestablecer</button>
        </div>

        <div>
            @if(successMessage()) {
                {{ successMessage() }}
            }
        </div>
        <div>
            @if(invalidForm) {
                <span>Hay campos obligatorios que deben ser completados!</span>
            }
        </div>
    </form>
</div>
