<div class="container my-4">
    <!-- muestra el loading spinner si loading: true -->
    <app-loading-spinner/>

    @if(error()) {
    <div class="alert alert-danger" role="alert">
        {{ error() }}
    </div>

    }

    @if(player()) {

    <div class="card shadow-lg player-card">
        <div class="row g-0">
            <div class="col-md-4 text-center p-4">
                <img [src]="player()?.playerFaceUrl" alt="{{ player()?.longName }} Foto"
                    class="img-fluid rounded-circle player-image" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">{{ player()?.longName }}</h4>
                    <p class="card-text">
                        <strong>Edad:</strong> {{ player()?.age }} años
                    </p>
                    <p class="card-text">
                        <strong>Posición:</strong> {{ player()?.playerPositions }}
                    </p>
                    <p class="card-text">
                        <strong>Nacionalidad:</strong> {{ player()?.nationalityName || 'No disponible' }}
                    </p>
                    <p class="card-text">
                        <strong>Club:</strong> {{ player()?.clubName || 'No disponible' }}
                    </p>
                    <p class="card-text">
                        <strong>Pie Preferido:</strong> {{ player()?.preferredFoot || 'No disponible' }}
                    </p>
                    <p class="card-text">
                        <strong>Tipo de Cuerpo:</strong> {{ player()?.bodyType || 'No disponible' }}
                    </p>
                    <p class="card-text">
                        <strong>Altura:</strong> {{ player()?.heightCm || 'No disponible' }} cm
                    </p>
                    <p class="card-text">
                        <strong>Peso:</strong> {{ player()?.weightKg || 'No disponible' }} kg
                    </p>
                    <p class="card-text">
                        <strong>Potencial:</strong> {{ player()?.potential }}
                    </p>
                    <p class="card-text">
                        <strong>General:</strong> {{ player()?.overall }}
                    </p>
                    <p class="card-text">
                        <strong>Versión FIFA:</strong> {{ player()?.fifaVersion }}
                    </p>
                    <p class="card-text">
                        <strong>Actualización FIFA:</strong> {{ player()?.fifaUpdate }}
                    </p>

                    <div class="mt-3">
                        <button type="button" (click)="toggleEdit()" class="btn btn-secondary me-2">
                            Modificar
                        </button>
                        <button type="button" (click)="confirmDelete()" class="btn btn-danger">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>